<!DOCTYPE html>
<html>
    <head>
        <title>Templates Content</title>
    </head>
    <body>
        <h1>Templates Content</h1>
        <h2>
            <ol>
                <li><a href="./About/About.html">About</a></li>
                <li><a href="./Blog/Blog.html">Blog</a></li>
                <li><a href="./Orgnization/Orgnization.html">Orgnization</a></li>
                <li><a href="./Portfolio/Portfolio.html">Portfolio</a></li>
                <li><a href="./Resume/Resume.html">Resume</a></li>
                <li><a href="./Shop/Shop.html">Shop</a></li>
            </ol>
        </h2>
    </body>
</html>