body{
    color: blanchedalmond;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;;
}

h1{
    color: chartreuse;
    opacity: 0.5;
}

button{
    background-color: cyan;
    border: none;
    color: rgb(252, 32, 50);
}